.btn_EMAIL{
    width: 100%;
    padding:0 1rem;
    padding: 1rem;
    background: white;
    border: 2px solid red;
    border-radius: 0;
    height: 48px;
    color: #FFFFFF;
    outline: 0;
}
.Subscribe_now{
 /* background-color: #f1534a !; */
 border: 0;
 outline: 0;
 margin-top: 1rem;
}