#REQUEST_APPOINTMENT{
    background-image: url(../../Assets/appointment.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
    background-position:bottom;
    overflow: hidden;
    min-height: 80vh;
  
    background-size: cover;
    // padding:5rem 8rem ;
}